
#sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    
}
#sidenav li {
    list-style-type: none;
}
#sidenav a {
    color: aliceblue; 
    display: block;
    padding: 6px 6px 6px 4px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'arial';
    
}

#sidenav a:hover{
    font-size: 22px;
}

.pagina {
    margin-left: 220px;
}

.resultado {
    margin-top: 50px;
    padding: 10px;
    border: #111;
    border-style: solid;
    
}

[id^='butao'] {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    
    
}

